In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

import warnings
warnings.filterwarnings('ignore')

In [3]:
current_directory = os.getcwd()
file_path = os.path.join(current_directory,"data", "raw", "movie_data.csv")

try:
    df = pd.read_csv(file_path)
except FileNotFoundError:
    print(f"File not found: {file_path}")

In [4]:
df.head()

,title,overview,release_date,genres,cast,runtime,rating
0,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,2024-07-24,"['Action', 'Comedy', 'Science Fiction']",NaN,128,7.982
1,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2024-06-05,"['Action', 'Crime', 'Thriller', 'Comedy']",NaN,115,7.670
2,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,2024-06-11,"['Animation', 'Family', 'Adventure', 'Comedy']",NaN,97,7.637
3,Despicable Me 4,"Gru and Lucy and their girls — Margo, Edith an...",2024-06-20,"['Animation', 'Family', 'Comedy', 'Action']",NaN,94,7.212
4,A Quiet Place: Day One,As New York City is invaded by alien creatures...,2024-06-26,"['Horror', 'Science Fiction', 'Thriller']",NaN,99,7.017

In [5]:
df.drop('cast', axis=1, inplace=True)

In [6]:
df.sample()

,title,overview,release_date,genres,runtime,rating
3360,Interceptor,A U.S. Army Captain uses her years of tactical...,2022-05-26,"['Action', 'Thriller', 'Adventure']",98,6.058

In [7]:
current_directory = os.getcwd()
file_path1 = os.path.join(current_directory,"data", "raw", "movie_cast.csv")

try:
    df_cast = pd.read_csv(file_path1)
except FileNotFoundError:
    print(f"File not found: {file_path1}")

In [8]:
df_cast.head()

        id                                               cast
0   533535  ['Ryan Reynolds', 'Hugh Jackman', 'Emma Corrin...
1   573435  ['Will Smith', 'Martin Lawrence', 'Vanessa Hud...
2   762441  ["Lupita Nyong'o", 'Joseph Quinn', 'Alex Wolff...
3  1022789  ['Amy Poehler', 'Maya Hawke', 'Kensington Tall...
4   519182  ['Steve Carell', 'Kristen Wiig', 'Joey King', ...

In [9]:
df_final = pd.concat([df,df_cast], axis=1)

In [10]:
df_final.drop('id', axis=1,inplace=True)

In [11]:
df_final.head()

,title,overview,release_date,genres,runtime,rating,cast
0,Deadpool & Wolverine,A listless Wade Wilson toils away in civilian ...,2024-07-24,"['Action', 'Comedy', 'Science Fiction']",128,7.982,"['Ryan Reynolds', 'Hugh Jackman', 'Emma Corrin..."
1,Bad Boys: Ride or Die,"After their late former Captain is framed, Low...",2024-06-05,"['Action', 'Crime', 'Thriller', 'Comedy']",115,7.670,"['Will Smith', 'Martin Lawrence', 'Vanessa Hud..."
2,Inside Out 2,Teenager Riley's mind headquarters is undergoi...,2024-06-11,"['Animation', 'Family', 'Adventure', 'Comedy']",97,7.637,"[""Lupita Nyong'o"", 'Joseph Quinn', 'Alex Wolff..."
3,Despicable Me 4,"Gru and Lucy and their girls — Margo, Edith an...",2024-06-20,"['Animation', 'Family', 'Comedy', 'Action']",94,7.212,"['Amy Poehler', 'Maya Hawke', 'Kensington Tall..."
4,A Quiet Place: Day One,As New York City is invaded by alien creatures...,2024-06-26,"['Horror', 'Science Fiction', 'Thriller']",99,7.017,"['Steve Carell', 'Kristen Wiig', 'Joey King', ..."

In [18]:
import os

directory = "E:\\Git Uploads\\CineMatch\\notebook\\data\\raw"
df_final.to_csv(os.path.join(directory, "final_movie_data.csv"), index=False)

**Data Dimension**

In [41]:
print(f"No. Of Movies: {df.shape[0]}")
print(f"No. Of Features: {df.shape[1]}")

No. Of Movies: 5000
No. Of Features: 5

**Checking Missing values**

In [35]:
df.isnull().sum()

id                   0
title                0
overview            18
genres               0
actors_actresses     0
dtype: int64

**Handling Missing Values**

In [36]:
df.fillna('',inplace=True)

In [37]:
df.isnull().sum()

id                  0
title               0
overview            0
genres              0
actors_actresses    0
dtype: int64

In [42]:
for col in ['genres']:
    print(f"\nUnique values in {col}:")
    print(df[col].explode().unique())

Unique values in genres:
['[]']

In [44]:
df['genres']

0       []
1       []
2       []
3       []
4       []
        ..
4995    []
4996    []
4997    []
4998    []
4999    []
Name: genres, Length: 5000, dtype: object